bin/
*.exe
*.exe~
*.dill
*.so
*.dylib

# Test binary, with `go test -c`
*.test

# env
.env

# Go workspace
*.work
*.worksum

# db
.db
.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# uploads
uploads/

# vendor
vendor/