services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_shop
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../uploads:/var/www/uploads
    depends_on:
      - localstack

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
      - SERVICES=s3, sqs
    volumes:
      - localstack_data:/var/lib/localstack
      - ./init/aws/init.localstack.sh:/etc/localstack/init/ready.d/init.sh

  mailpit:
    image: axllent/mailpit:v1.27
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - localstack
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=ecommerce_shop
      - DB_SSL_MODE=disable
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
      - AWS_S3_BUCKET=ecommerce-uploads
      - AWS_S3_ENDPOINT=http://localhost:4566
      - AWS_SQS_QUEUE_URL=http://localhost:4566/000000000000/ecommerce-events
      - AWS_EVENT_QUEUE_NAME=ecommerce-events
      - JWT_SECRET=secret
      - JWT_EXPIRES_IN=24h
      - REFRESH_TOKEN_EXPIRES_IN=72h
      - MAX_UPLOAD_SIZE=10485760
      - UPLOAD_PATH=./uploads
      - UPLOAD_PROVIDER=local
      - SMTP_HOST=localhost
      - SMTP_PORT=1025
      - SMTP_USERNAME=
      - SMTP_PASSWORD=
      - SMTP_FROM=anzhy@anzhy.com
    command: [ "./api" ]

  notifier:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: notifier
    ports:
      - "8082:8082"
    depends_on:
      - localstack
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
      - AWS_S3_BUCKET=ecommerce-uploads
      - AWS_S3_ENDPOINT=http://localhost:4566
      - AWS_SQS_QUEUE_URL=http://localhost:4566/000000000000/ecommerce-events
      - AWS_EVENT_QUEUE_NAME=ecommerce-events
      - SMTP_HOST=mailpit
      - SMTP_PORT=1025
      - SMTP_USERNAME=
      - SMTP_PASSWORD=
      - SMTP_FROM=anzhy@anzhy.com
    command: [ "./notifier" ]

volumes:
  postgres_data:
  localstack_data:
